/böm-titel.csv
/böm-exemplare.dat
/böink-titel.csv
/böink-exemplare.dat
/ii-titel.csv
/ii-exemplare.dat
/iii-titel.csv
/iii-exemplare.dat
/iv-titel.csv
/iv-exemplare.dat
/schreibmeister-titel.csv
/schreibmeister-exemplare.dat
